.btn-success:hover
{
    background-color:bisque;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

    from {box-shadow: 1px 1px 50px blue;}
    to{box-shadow: 1px 1px 50px yellowgreen;}

}
body{
    background-size: cover;
    background-position: center;
}